.chatTest {
  height: 1000px; }

.sidebarContainer {
  width: 20.83333vw; }

.chat {
  margin-top: 2.22222vh;
  width: 18.33333vw;
  display: flex;
  flex-direction: column; }

.chatTextWrapper {
  display: flex;
  flex: 1;
  flex-direction: row; }

.chatText {
  overflow-y: scroll;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  width: 29.16667vw;
  background-color: #ffffff;
  margin-bottom: 0.74074vh;
  border-radius: 5px;
  margin-right: 0.41667vw; }

.chatScrollbar {
  width: 0.41667vw;
  background-color: #ffffff;
  margin-bottom: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.chatScrollHandle {
  width: 0.41667vw;
  height: 4.44444vh;
  background-color: #FFC107;
  border-radius: 5px; }

.chatInteraction {
  margin-bottom: 24px; }

.chatInput {
  outline: none;
  resize: none;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  border: none;
  width: 16.45833vw;
  height: 7.40741vh;
  background-color: #ffffff;
  align-self: flex-end;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.chatSend {
  float: right;
  width: 1.66667vw;
  height: 7.40741vh;
  font-size: 2.22222vh;
  line-height: 7.40741vh;
  color: black;
  text-align: center;
  background-color: #FFC107;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
