@import "styleguide";

.elementsList {
    // background-color: $color-element-base;
    // float: right;
    margin-top: $margin-separation-height;
    margin-bottom: $margin-separation-height;
    width: $unit-base-width * 44;
    // flex: 1;
    // height: 100%;
    // background-color: rgb(219, 163, 104);
    // align-self: flex-end;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-around;
}

.elementsList * {
    max-width: 50%;
    flex-grow: 0;
}
.testClassX {
    background-color: pink;
}
.inputEdit {
    // height: $unit-base-height * 3;
    // border: 1px solid $color-accent;
    // border-radius: 5px;
    background-color: $color-accent;
    color: white;
    outline: none;
    // box-shadow: none;
}

// .sectionClass {
//     // display: flex;
//     // flex-grow: 1;
//     // width: 900px;
//     // min-width: 400px;
//     // width: $unit-base-width * 100;
//     min-height: $unit-base-height * 5;
//     // height: auto;
//     margin-top: $margin-separation-height;
//     margin-bottom: $margin-separation-height;
//     margin-left: $margin-separation-width;
//     margin-right: $margin-separation-width;
//     background-color: $color-element-base;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     box-shadow: $z-depth-1;
// }