@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  outline: none; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #79B9B4;
  background-image: url("../images/54449_abstract_polygon_art.jpg");
  background-position: center;
  background-size: cover; }

.appContainer {
  height: 90vh;
  display: flex;
  flex-direction: row; }

.testContainer {
  width: 400px;
  background-color: red;
  height: 100%; }

.spacer {
  flex-grow: 1; }

input {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  /* 2 */
  padding: 0;
  overflow: visible;
  outline: none;
  border: none;
  box-sizing: content-box; }

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

button {
  border-radius: 5px;
  background-color: white;
  border: none; }

.nav, .debug {
  display: flex;
  flex-direction: row;
  z-index: 10;
  height: 32px;
  height: 32px;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.navBttn {
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.7); }
  .navBttn:hover {
    color: red;
    font-size: 24px;
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.userName {
  color: rgba(0, 0, 0, 0.7);
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px; }

.lol {
  align-self: flex-end; }

.userImage {
  background-image: url("../images/Cool_dude.jpg");
  background-position: center;
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px; }

.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: row; }

.contentAreaContainer {
  display: flex; }

.contentArea {
  display: flex;
  overflow-y: scroll;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px; }

.sidebarContainer {
  display: flex;
  width: 400px; }

.bttnClass {
  background-color: #FFDE53;
  border: none;
  height: 32px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7); }

.bttnClass:hover {
  color: white;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16); }

.contentSpacer {
  width: 100%;
  content: ''; }

.textSmall {
  background-color: pink;
  width: 80px;
  height: 32px; }

.textBigContainer {
  background-color: white;
  display: flex;
  margin: 8px 24px 8px 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex-grow: 1;
  flex-direction: column; }

.textBigTitle {
  color: rgba(0, 0, 0, 0.5);
  text-indent: 16px; }
  .textBigTitle::after {
    margin-left: 8px;
    margin-right: 8px;
    display: block;
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px; }

.textBigContent {
  color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  flex-grow: 1;
  margin-top: 8px;
  padding: 8px 8px 8px 8px;
  margin: 8px 8px 8px 8px;
  min-height: 160px;
  height: 100%;
  max-width: 75ch;
  resize: none;
  border: none; }
  .textBigContent:focus {
    outline: none;
    box-shadow: 0 0 5px #FFDE53; }

.sectionContainer {
  background-color: rgba(255, 255, 255, 0.43);
  background-color: white;
  flex-grow: 1;
  min-width: 384px;
  margin: 24px 24px 24px 24px;
  margin-left: 16px;
  margin-right: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  line-height: 48px;
  font-size: 16px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px; }

.sectionTitle {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 24px;
  text-indent: 16px;
  color: rgba(0, 0, 0, 0.5); }
  .sectionTitle::after {
    margin-left: 8px;
    margin-right: 8px;
    display: block;
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px; }

.sectionBody {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  min-height: 80px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 24px;
  flex-wrap: wrap; }

.subSection {
  margin-top: 8px;
  min-width: 112px;
  min-height: 112px;
  flex-grow: 1;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.inputContainer {
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 8px 24px 8px 24px;
  background-color: white;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 48px;
  font-size: 16px;
  height: 48px;
  max-width: 256px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.inputClass {
  flex-grow: 2;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  line-height: 48px;
  margin-top: 12px;
  margin-left: 8px;
  margin-bottom: 12px;
  height: 24px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  align-self: flex-end;
  min-width: 0px;
  max-width: 208px; }

.drag {
  background-color: red; }

.pseudoEle {
  min-width: 16px;
  max-width: 16px;
  height: 48px;
  border: 1px dashed black;
  border-radius: 5px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: rgba(255, 222, 83, 0.5); }

.pseudoEle:only-child {
  background-color: red; }

.clearBttn {
  color: #f68989; }

.resetBttn {
  color: #ff5284; }

@media screen and (max-width: 1279px) {
  .sidebarContainer {
    display: none; }
  .contentAreaContainer {
    width: 98vw;
    max-width: 98vw; }
  .contentArea {
    width: 98vw;
    max-width: 98vw; } }
