.sidebarContainer {
  display: flex;
  width: 20.83333vw;
  background-color: rgba(255, 255, 255, 0.67); }

.chat {
  margin-top: 2.22222vh;
  width: 18.33333vw;
  display: flex;
  flex-direction: column; }

.chatTextWrapper {
  display: flex;
  flex: 1;
  flex-direction: row; }

.chatText {
  width: 18.33333vw;
  background-color: #ffffff;
  margin-bottom: 0.74074vh; }

.chatScrollbar {
  width: 0.41667vw;
  background-color: #ffffff;
  margin-bottom: 8px; }

.chatScrollHandle {
  width: 0.41667vw;
  height: 4.44444vh;
  background-color: #FFDE53; }

.chatInteraction {
  margin-bottom: 24px; }

.chatInput {
  outline: none;
  resize: none;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  border: none;
  width: 16.45833vw;
  height: 7.40741vh;
  background-color: #ffffff;
  align-self: flex-end; }

.chatSend {
  float: right;
  width: 1.66667vw;
  height: 7.40741vh;
  font-size: 2.22222vh;
  line-height: 7.40741vh;
  color: black;
  text-align: center;
  background-color: #FFDE53;
  align-self: flex-end; }
