.sidebarContainer {
  display: flex;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.67); }

.chat {
  margin-top: 24px;
  width: 352px;
  display: flex;
  flex-direction: column; }

.chatTextWrapper {
  display: flex;
  flex: 1;
  flex-direction: row; }

.chatText {
  width: 352px;
  background-color: #ffffff;
  margin-bottom: 8px; }

.chatScrollbar {
  width: 8px;
  background-color: #ffffff;
  margin-bottom: 8px; }

.chatScrollHandle {
  width: 8px;
  height: 48px;
  background-color: #FFDE53; }

.chatInteraction {
  margin-bottom: 24px; }

.chatInput {
  outline: none;
  resize: none;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  border: none;
  width: 316px;
  height: 80px;
  background-color: #ffffff;
  align-self: flex-end; }

.chatSend {
  float: right;
  width: 32px;
  height: 80px;
  font-size: 24px;
  line-height: 80px;
  color: black;
  text-align: center;
  background-color: #FFDE53;
  align-self: flex-end; }
