.menu {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 24px;
  border-radius: 5px; }

.subMenu {
  padding-bottom: 8px;
  background-color: #ffffff;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  margin-bottom: 24px; }

.subMenuTitle {
  color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 32px;
  line-height: 32px;
  background-color: #FFDE53;
  text-align: center; }

.subMenuItems * {
  background-color: red;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #ffffff;
  text-align: center; }

.menuContentContainer {
  border-radius: 5px;
  margin-top: 24px;
  display: flex;
  flex-grow: 1;
  flex-direction: column; }

.menuContent {
  background-color: white;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.7); }

.myGamesContent {
  display: flex;
  flex-direction: column;
  border-radius: 5px; }

.gameRow {
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px; }

.gameInfoRow {
  display: flex;
  flex-direction: row; }

.gameEditRow {
  display: none;
  flex-direction: row; }

.addUserInterface {
  display: flex;
  flex-grow: 1; }

.userTypeSelector {
  display: flex;
  flex-grow: 1;
  flex-direction: row; }

.userTypeSelector * {
  display: flex;
  flex-grow: 1; }

.gameName {
  padding-top: 8px;
  padding-bottom: 8px;
  flex-grow: 1;
  background-color: #ffffff; }

.gamePlayBttn {
  flex-grow: 1;
  background-color: #FFDE53; }

.createGameContent {
  background-color: rgba(255, 255, 255, 0.43);
  display: flex;
  flex-direction: column; }

.newGameNameContainer {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px; }

.templateSearchResult {
  display: flex;
  flex-direction: column;
  overflow-y: scroll; }

.resultRow {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-right: 20px; }

.resultRow * {
  display: flex;
  width: 14.28571428571428571429%; }

.resultRow .templateName {
  flex-grow: 1; }

.templateSearchInput {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7); }

.templateSearchContainer {
  display: flex;
  flex-direction: row; }

.templateSearchResultColumn {
  display: flex;
  flex-direction: column;
  width: 14.28571428571428571429%;
  margin-left: 8px;
  margin-right: 8px; }

.templateSearchResultColumn * {
  background-color: white;
  border-bottom: 1px solid black;
  margin-top: 8px;
  margin-bottom: 8px; }

.columnTitle {
  flex-grow: 0.5;
  background-color: white; }

.templateUseForm {
  width: 20px;
  display: block; }

.testOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3); }

.testContent {
  background-color: white;
  border-radius: 5px;
  width: 920px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px; }

.gamePlayersRow {
  background-color: red; }

.previewContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3); }

.previewContentArea {
  width: 95%;
  height: 95%;
  background-color: white; }
