@import "styleguide";
.menuContainer {
	// background-color: $color-element-transp;
}
.menu {
	width: $unit-base-width * 30;
	// background-color: white;
	display: flex;
	flex-direction: column;
	margin-top: $margin-separation-height;
	padding-top: $margin-separation-height;
	padding-bottom: $margin-separation-height;
	padding-left: $margin-relation-width;
	padding-right: $margin-relation-width;
	// margin-left: $margin-separation-width;
	margin-right: $margin-separation-width;
	// background-color: $color-element-transp;
	border-radius: 5px;
	// box-shadow: $z-depth-3;
	// background-color: white;
}
.subMenu {
	// background-color: red;
	padding-bottom: $margin-relation-height;
	background-color: $color-element-base;
	box-shadow: $z-depth-3;
	// background-color: $color-element-transp;
	border-radius: 5px;
	margin-bottom: $margin-separation-height;
}
.subMenuTitle {
	color: $color-text-title;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	// box-shadow: $z-depth-3;
	height: $unit-base-height * 4;
	line-height: $unit-base-height * 4;
	background-color: $color-accent;
	// vertical-align: middle;
	text-align: center;
}
.subMenuItems {
}
.subMenuItems * {
	background-color: red;
	color: $color-text-base;
	border-radius: 5px;
	padding-left: $margin-relation-width;
	padding-right: $margin-relation-width;
	margin-top: $margin-relation-height;
	margin-left: $margin-relation-width;
	margin-right: $margin-relation-width;
	background-color: $color-element-base;
	text-align: center;
	// box-shadow: $z-depth-3;
}

.menuContentContainer {
	border-radius: 5px;
	margin-top: $margin-separation-height;
	display: flex;
	flex-grow: 1;
	// background-color: $color-element-transp;
	flex-direction: column;
}
.menuContent {
	background-color: white;
	border-radius: 5px;
	color: $color-text-base;
}
.myGamesContent {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}
// .joinGameContent {
// 	display: flex;
// 	flex-direction: column;
// }
.gameRow {
	margin-left: $margin-relation-width;
	margin-right: $margin-relation-width;
	border-radius: 5px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	// background-color: $color-element-base;
	margin-bottom: $margin-separation-height;
}
.gameInfoRow {
	display: flex;
	flex-direction: row;
}
.gameEditRow {
	display: none;
	flex-direction: row;
}
.addUserInterface {
	display: flex;
	flex-grow: 1;
}
.userTypeSelector {
	// background-color: red;
	display: flex;
	flex-grow: 1;
	flex-direction: row;
}
.userTypeSelector * {
	display: flex;
	flex-grow:1;
}
.gameName {
	padding-top: $margin-relation-height;
	padding-bottom: $margin-relation-height;
	flex-grow: 1;
	background-color: $color-element-base;
}

.gamePlayBttn {
	flex-grow: 1;
	background-color: $color-accent;
}
// ---------------------------------------
.createGameContent {
	background-color: $color-element-transp;
	display: flex;
	flex-direction: column;
}
.newGameNameContainer {
	display: flex;
	flex-direction: row;
	background-color: $color-element-base;
	border-radius: 5px;
	padding-left: $margin-relation-width;
	padding-right: $margin-relation-width;
}
.templateSearchResult {
	display: flex;
	flex-direction: column;
	// max-height: 50px;
	overflow-y: scroll;
}
.resultRow {
	display:flex;
	flex-direction: row;
	border-bottom: 1px solid $color-text-title;
	margin-left: 20px;
	margin-right: 20px;
}
.resultRow * {
	display: flex;
	// flex-grow: 1;
	width: 14.28571428571428571429%;
}
.resultRow .templateName {
	flex-grow: 1;
}
.templateSearchInput {
	border-bottom: 1px solid $color-text-base;
}
.templateSearchContainer {
	display: flex;
	flex-direction: row;
}
.templateSearchResultColumn {
	display: flex;
	flex-direction: column;
	width: 14.28571428571428571429%;
	margin-left: $margin-relation-width;
	margin-right: $margin-relation-width;
	// flex-grow: 1;
	// flex-grow: 1;
}
.templateSearchResultColumn * {
	background-color: white;
	border-bottom: 1px solid black;
	margin-top: $margin-relation-height;
	margin-bottom: $margin-relation-height;
	// background-color: pink;
}


.columnTitle {
	flex-grow: 0.5;
	background-color: white;
}
.templateUseForm {
	width: 20px;
	display: block;
}
.templatePreview {
	// flex-grow: 0;
}

.testOverlay {
	// position: absolute;
	position: fixed;

	// width: 100%;
	// height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
}
.testContent {
	background-color: white;
	border-radius: 5px;
	width: 920px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}
.gamePlayersRow {
	background-color: red;
}

.previewContainer {
	position: fixed;

	// width: 100%;
	// height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
}
.previewContentArea {
	width: 95%;
	height: 95%;
	background-color: white;
}